<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>
</head>

<body>
<div>
    <div th:replace="navigation :: header_menu"></div>

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

    <div class="container-xxl ">
        <div th:replace="navigation :: search_nav"></div>
        <!-- Breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent p-0">
                <li class="breadcrumb-item">
                    <a th:href="@{/}" class="text-dark">Home</a>
                </li>
                <th:block th:each="parent : ${listCategoryParents}">
                    <li class="breadcrumb-item">
                        <a th:href="@{'/c/' + ${parent.alias}}" class="text-dark">[[${parent.name}]]</a>
                    </li>
                </th:block>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>[[${product.shortName}]]</span>
                </li>
            </ol>
        </nav>
        <!-- Breadcrumb End -->

        <div class="row">
            <div class="col-md-6 text-center">
                <div>
                    <img id="bigImage" th:src="@{${product.mainImagePath}}" class="img-fluid rounded shadow" index="0"/>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="d-flex">
                        <div class="border m-2">
                            <img class="image-thumbnail rounded shadow" th:src="@{${product.mainImagePath}}" height="50" index="0" />
                        </div>
                        <th:block th:each="extraImage, status : ${product.images}">
                            <div class="m-2 border">
                                <img class="image-thumbnail rounded shadow" th:src="@{${extraImage.imagePath}}" height="50px" width="50px" th:index="${status.count}">
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2 class="font-weight-bold text-dark">[[${product.name}]]</h2>
                <div class="row pb-2 d-flex ">
                    <div class="col-sm">
                        <input type="text" class="product-detail-rating-star" dir="ltr" data-size="3"
                        th:value="${product.averageRating}">
                    </div>
                    <div class="col-sm mt-2">
                        [[${product.reviewCount}]] rating(s)
                    </div>
                </div>
                <p class="text-muted">Brand: <span class="text-primary"><b>[[${product.brand.name}]]</b></span></p>

                <!-- Price Section -->
                <div class="d-flex align-items-center mt-2">
                    <del th:if="${product.discountPercent > 0}" class="h6 text-muted ms-3">
                        <div th:replace="fragments :: price(${product.price})"></div>
                    </del>
                    <span th:if="${product.discountPercent <= 0}" class="h4 text-primary">
                        <div th:replace="fragments :: price(${product.price})"></div>
                    </span>
                    <span th:if="${product.discountPercent > 0}" class="h4 text-danger ms-3">
                        <div th:replace="fragments :: price(${product.discountPrice})"></div>
                    </span>
                    <span th:if="${product.discountPercent > 0}" class="text-success ms-2">([[${product.discountPercent}]]% OFF)</span>
                </div>

                <!-- Short Description -->
                <div class="mt-2">
                    <p class="text-dark" th:utext="${product.shortDescription}"></p>
                </div>

                <!-- Add to Cart Section -->
                <div class="mt-2">
                    <span th:if="${product.inStock}" class="badge bg-success">In Stock</span>
                    <span th:unless="${product.inStock}" class="badge bg-danger">Out of Stock</span>

                    <th:block th:if="${product.inStock}">
                        <div th:replace="cart/quantity_control :: quantity_control(1 , ${product.id})" class="my-3"></div>
                        <div>
                            <input type="button" value="Add to Cart" id="buttonAdd2Cart" class="btn btn-lg btn-primary rounded-pill">
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <hr/>
                <h3 class="font-weight-bold">Product Description</h3>
                <div class="p-2">
                    <p class="text-muted " th:utext="${product.fullDescription}"></p>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <hr/>
                <h3 class="font-weight-bold">Product Details</h3>
                <ul class="list-unstyled p-2">
                    <th:block th:each="detail : ${product.details}">
                        <li>
                            <strong>[[${detail.name}]]: </strong>[[${detail.value}]]
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>

    <div th:replace="products/product_top_reviews :: content"></div>
    <div th:replace="products/images_carousel :: content"></div>
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="navigation :: footer_menu"></div>

</div>

<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    var productId = "[[${product.id}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    decimalSeparator = "[[${DECIMAL_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
    thousandSeparator = "[[${THOUSAND_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";

    $(document).ready(function () {
        let bigImage = $("#bigImage");

        $(".image-thumbnail").mouseover(function () {
            let currentImageSource = $(this).attr("src");
            let currentImageIndex = $(this).attr("index");
            bigImage.attr("src", currentImageSource);
            bigImage.attr("index", currentImageIndex);
        });

        bigImage.on("click", function () {
            $("#carouselModal").modal("show");
            let imageIndex = parseInt(bigImage.attr("index"));
            $("#carouselExampleIndicators").carousel(imageIndex);
        });

        formatRatingNumber();
    });

    $(".product-detail-rating-star").rating({
        displayOnly : true,
        hoverOnClear : false,
        showCaption : false,
        theme: 'krajee-svg'
    });

    function formatRatingNumber() {
        ratingText = $("#ratingNumber").text();
        formatRating = $.number(ratingText, 2 ,decimalSeparator, thousandSeparator);
        $("#ratingNumber").text(formatRating);
    };

</script>

<script type="text/javascript" th:src="@{/js/quantity_control.js}"></script>
<script type="text/javascript" th:src="@{/js/add_to_cart.js}"></script>

</body>
</html>
