<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>
<body>
<div>
    <div th:replace="navigation :: header_menu"></div>

    <div class="container-fluid">
        <!-- Breadcrumb start -->
        <div th:if="${listCategoryParents != null && !listCategoryParents.empty}">
            <div class="row">
                <div class="col">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/}">Home</a>
                            </li>
                            <th:block th:each="parent : ${listCategoryParents}">
                                <li class="breadcrumb-item">
                                    <a th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
                                </li>
                            </th:block>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <div class="row text-center mb-4">
            <th:block th:each="category : ${category.children}">
                <div class="col-md-3" th:if="${category.enabled == true}">
                    <div class="category-item">
                        <a th:href="@{'/c/' + ${category.alias}}">
                            <img th:src="@{${category.imagePath}}" class="img-fluid mb-2" />
                            <br />
                            <b>[[${category.name}]]</b>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>


        <div class="row">
            <th:block th:each="product : ${listProducts}">
                <div class="col-md-4 col-lg-3 mb-4">
                    <div class="card product-card h-100 border-custom">
                        <a th:href="@{'/d/' + ${product.alias}}">
                            <div class="image-container">
                                <img th:src="@{${product.mainImagePath}}" class="card-img-top img-fluid" />
                            </div>
                        </a>
                        <div class="card-body text-center">
                            <a th:href="@{'/d/' + ${product.alias}}">
                                <h5 class="card-title">[[${product.shortName}]]</h5>
                            </a>
                            <div th:if="${product.discountPercent <= 0 }">
                                <span class="product-price">$ [[${product.price}]]</span>
                            </div>
                            <div th:if="${product.discountPercent > 0 }">
                                <span class="product-price text-danger">$ [[${product.discountPrice}]]</span>
                                <del class="text-muted"><span>$ [[${product.price}]]</span></del>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>