<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        .product-detail-rating-star {
            font-size: 20px; /* Adjust star size */
            width: 60px;
            height: 40px;
        }
        hr {
            border-top: 1px solid #ddd;
        }
        #review {
            font-weight: bold;
            margin-bottom: 10px;
        }
        .review-container {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div th:fragment="content" class="container-fluid mt-3 border p-2">
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>

    <div class="row m-1">
        <h3 id="1">Customer Reviews</h3>
    </div>

    <div class="row align-items-center pb-2">
        <div class="col-auto">
            <input type="text" class="product-detail-rating-star" dir="ltr" data-size="3"
                   th:value="${product.averageRating}" readonly>
        </div>
        <div class="col-auto mt-1">
            <span id="ratingNumber">[[${product.averageRating}]]</span> of 5
        </div>
    </div>

    <div class="row m-1">
        <a href="" class="ml-3">View all [[${product.reviewCount}]] ratings</a>
    </div>

    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            <th:block th:each="review : ${listReviews}">
                <div class="review-container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="product-detail-rating-star" dir="ltr" data-size="2"
                                   th:value="${review.rating}" readonly>
                        </div>
                        <div class="col">
                            <b>[[${review.headLine}]]</b>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            [[${review.comment}]]
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-auto">
                            <small class="text-muted">
                                [[${review.customer.fullName}]],
                                <div th:replace="fragments :: format_time(${review.reviewTime})"></div>
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
