<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Brands')">
</head>

<body>

<!-- nav bar-->
<div th:replace="navigation :: menu"></div>

<!-- Body -->
<div class="container-fluid">
  <div>
    <div class="pb-3">
      <h1>Manage categories</h1>
      <a class="btn btn-primary btn-info" th:href="@{/brands/new}">Create New Brand</a>
      <!--            <a class="btn btn-primary btn-danger" th:href="@{/categories/export/csv}">Export to CSV</a>-->
    </div>
  </div>
<!--  <div th:if="${message != null}" class="alert alert-success pt-3" th:text="${message}" >-->
<!--  </div>-->

  <div th:replace="fragments :: search_form('brands')"></div>


  <!-- Begin table data-->

  <div class="pt-2">
    <table class="table table-responsive-xl table-bordered table-striped table-hover ">
      <thead class=" gradient-bg">
      <tr>
        <!-- Call fragment -->
        <th>ID</th>
        <th>Logo</th>
        <th>Name</th>
<!--        <th>-->
<!--          <a class="text-dark" th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Category Name</a>-->
<!--          <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>-->
<!--        </th>-->
        <th>Categories</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="brand : ${listBrands}">
        <td>[[${brand.id}]]</td>
        <td>
        </td>
        <td>[[${brand.name}]]</td>
        <td>
          <th:block th:each="cat : ${brand.categories}">
            <span class="custom-badge " th:text="${cat.name}"></span>
          </th:block>
        </td>
        <td>
          <div class="inline-container">
            <div th:replace="fragments :: edit('brand' ,'/brands/edit/' + ${brand.id})"></div>
            &nbsp;
            &nbsp;
            <div th:replace="fragments :: elseDelete('brand' ,'/brands/delete/' + ${brand.id}, ${brand.id})"></div>
          </div>

        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <!-- End table data-->


  <!--pagination begin-->

<!--  <div class="text-center m-1" th:if="${totalItems > 0}">-->
<!--    <span>Showing Top-level Category #  of [[${totalItems}]]</span>-->
<!--  </div>-->
<!--  <div class="text-center m-1" th:unless="${totalItems > 0}">-->
<!--    <span>No Category found</span>-->
<!--  </div>-->

<!--  <div th:if="${totalItems > 0}">-->
<!--    <nav>-->
<!--      <ul class="pagination justify-content-center">-->
<!--        &lt;!&ndash; Link to the first page &ndash;&gt;-->
<!--        <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/1?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''} }">First</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Link to the previous page &ndash;&gt;-->
<!--        <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Previous</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Link to the first page if current page is greater than 2 &ndash;&gt;-->
<!--        <li th:if="${currentPage > 2}" class="page-item">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">1</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Dots before the current page &ndash;&gt;-->
<!--        <li th:if="${currentPage > 3}" class="page-item disabled">-->
<!--          <a class="page-link">...</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Links for the current, previous, and next page &ndash;&gt;-->
<!--        <li th:each="i : ${#numbers.sequence(currentPage - 1 > 1 ? currentPage - 1 : 1, currentPage + 1 < totalPages ? currentPage + 1 : totalPages)}"-->
<!--            th:class="${currentPage == i} ? 'page-item active' : 'page-item'">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${i}]]</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Dots after the current page &ndash;&gt;-->
<!--        <li th:if="${currentPage < totalPages - 2}" class="page-item disabled">-->
<!--          <a class="page-link">...</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Link to the last page if current page is less than total pages minus 1 &ndash;&gt;-->
<!--        <li th:if="${currentPage < totalPages - 1}" class="page-item">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${totalPages}]]</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Link to the next page &ndash;&gt;-->
<!--        <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Next</a>-->
<!--        </li>-->
<!--        &lt;!&ndash; Link to the last page &ndash;&gt;-->
<!--        <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">-->
<!--          <a class="page-link"-->
<!--             th:href="@{'/categories/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Last</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->

  <!--pagination END-->


</div>
<div th:replace="modal_fragments :: confirm_modal"></div>
<div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleUrl = "[[@{/brands}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'brand');
        });
    });

</script>
</body>


</html>
