<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>

<!-- nav bar -->
<div th:replace="navigation :: menu"></div>

<!-- body -->
<div class="container-fluid">

    <div>
        <h1>Manage Product | [[${pageTitle}]] </h1>
    </div>


    <!-- form user -->
    <div>
        <form th:action="@{/products/save}" th:object="${product}" method="post"
              enctype="multipart/form-data" onsubmit="return checkUnique(this)">
            <input type="hidden" th:field="*{id}"/>

            <div >
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" >Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab" >Images</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" >Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab" >Shipping</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="overview" role="tabpanel" >
                        <div th:replace="products/product_overview :: content"></div>
                    </div>
                    <div class="tab-pane p-3" id="description" role="tabpanel" >
                        <div th:replace="products/product_description :: content"></div>

                    </div>
                    <div class="tab-pane" id="images" role="tabpanel" >Images</div>
                    <div class="tab-pane" id="details" role="tabpanel" >Details</div>
                    <div class="tab-pane p-3" id="shipping" role="tabpanel" >
                        <div th:replace="products/product_shipping :: content"></div>
                    </div>
                </div>

            </div>
            <div>
                <div class="form-group row pt-4">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" value="Save" class="btn btn-primary">
                        <input type="button" id="buttonCancel" value="Cancel" class="btn btn-secondary">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!-- Model dialog duplicated -->
    <div th:replace="modal_fragments :: modal_dialog"></div>

    <!-- footer -->
    <div th:replace="fragments :: footer"></div>

    <!-- -->
    <script type="text/javascript">
        moduleUrl = "[[@{/products}]]";
        brandModuleURL = "[[@{/brands}]]";

        dropdownBrands = $("#brand");
        dropdownCategories = $("#category");

        $(document).ready(function () {

            //add richText
            $("#shortDescription").richText();
            $("#fullDescription").richText();


            dropdownBrands.change(function() {
                dropdownCategories.empty();
                getCategories();
            });
            getCategories();
        });



        function getCategories() {
            brandId = dropdownBrands.val();
            url = brandModuleURL + "/" + brandId + "/categories" ;

            $.get(url, function(responseJson) {
                $.each(responseJson , function(index, category) {
                    $("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
                });
            });
        }


    </script>

    <script type="text/javascript">

        function checkUnique(form) {
            productId = $("#id").val();
            productName = $("#name").val();

            csrfValue = $("input[name='_csrf']").val();

            url = "[[@{/products/check_unique}]]";
            params = {id : productId , name : productName ,  _csrf : csrfValue};

            $.post(url , params , function(response) {
                if(response == "OK") {
                    form.submit();
                } else if(response == "Duplicate") {
                    showWarningModal( "Duplicated product : " + productName);
                } else{
                    showErrorModal("Unknown response from server");
                }
            }).fail(function() {
				showErrorModal( "Could not connect to server");
			});
            return false;
        }
    </script>


    <script th:src="@{/js/common_form.js}"></script>
</body>

</html>
