<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <div th:fragment="content" >
        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Product name</label>
            <div class="col-sm-9">
                <input type="text" th:field="*{name}" class="form-control"
                       th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                       required minlength="3" maxlength="256" >
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Alias</label>
            <div class="col-sm-9">
                <input type="text" th:field="*{alias}" class="form-control"
                       th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                       required minlength="3"
                       maxlength="256">
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Brands </label>
            <div class="col-sm-9">
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <select th:field="*{brand}" class="form-control" required>
                        <th:block th:each="brand : ${listBrands}">
                            <option th:value="${brand.id}">
                                [[${brand.name}]]
                            </option>
                        </th:block>
                    </select>
                </th:block>

                <th:block sec:authorize="hasAuthority('Salesperson')">
                    <input type="text" class="form-control" th:value="${product.brand.name}" readonly />
                </th:block>

            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Categories </label>
            <div class="col-sm-9">
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <th:block th:if="${product.category != null}">
                        <select th:field="*{category}" class="form-control" required>

                            <th:block th:each="cat : ${product.brand.categories}">
                                <option th:value="${cat.id}">[[${cat.name}]]</option>
                            </th:block>

                        </select>
                    </th:block>

                    <th:block th:if="${product.category == null}">
                        <select th:field="*{category}" class="form-control" required>
                        </select>
                    </th:block>
                </th:block>

                <th:block sec:authorize="hasAuthority('Salesperson')">
                    <input type="text" class="form-control" th:value="${product.category.name}" readonly />
                </th:block>

            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Enabled</label>
            <div class="col-sm-9">
                <input class="form-check-input" type="checkbox" th:field="*{enabled}"
                       th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                />
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">In-Stock</label>
            <div class="col-sm-9">
                <input class="form-check-input" type="checkbox" th:field="*{inStock}"
                       th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
                />
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Cost</label>
            <div class="col-sm-9">
                <input type="number" th:field="*{cost}" class="form-control">
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Price</label>
            <div class="col-sm-9">
                <input type="number" th:field="*{price}" class="form-control">
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-3 col-form-label">Discount</label>
            <div class="col-sm-9">
                <input type="number" th:field="*{discountPercent}" class="form-control">
            </div>
        </div>

    </div>
</body>
</html>