<div class="modal-header">
    <h4 class="modal-title">Product detail</h4>
    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
</div>

<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">
                Overview
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab">
                Description
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab">Images
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab">Details
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab">Shipping
            </button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active p-3" id="overview" role="tabpanel">
            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Product name</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.name}" class="form-control" readonly >
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Alias</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.alias}" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Brands </label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.brand.name}" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Categories </label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.category.name}" class="form-control" readonly>

                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Enabled</label>
                <div class="col-sm-9">
                    <input class="form-check-input" type="checkbox" th:checked="${product.enabled}" onclick="return false;"/>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">In-Stock</label>
                <div class="col-sm-9">
                    <input class="form-check-input" type="checkbox" th:checked="${product.inStock}" onclick="return false;"/>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Cost</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.cost}" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.price}" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Discount</label>
                <div class="col-sm-9">
                    <input type="text" th:value="${product.discountPercent}" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label">Update time</label>
                <div class="col-sm-9">
                    <span th:text="${#dates.format(product.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>

<!--            description-->
            <div >
                <label>Short Description </label>
                <div th:utext="${product.shortDescription}"></div>
                </textarea>
            </div>

            <div >
                <label>Full Description </label>
                <div th:utext="${product.fullDescription}"></div>
            </div>
        </div>


        <div class="tab-pane p-3" id="description" role="tabpanel">
            <div class="m-2">
                <label>Short Description </label>
                <div th:utext="${product.shortDescription}"></div>
            </textarea>
            </div>

            <div class="m-2">
                <label>Full Description </label>
                <div th:utext="${product.fullDescription}"></div>
            </div>
        </div>
        <div class="tab-pane" id="images" role="tabpanel">

        </div>
        <div class="tab-pane" id="details" role="tabpanel">

        </div>
        <div class="tab-pane p-3" id="shipping" role="tabpanel">

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>