<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Verify Fail', 'none')"/>
<body>
<div>
    <div th:replace="navigation :: header_menu"></div>
    <div class="container-fluid">
        <div class="mt-3 mb-3 text-center">
            <h2>Customer Verification</h2>
            <h4>OOOPs!!! Your account has been verified unsuccessfully!</h4>
            <p><a th:href="@{/login}">Login now</a></p>
        </div>

    </div>
    <div th:replace="navigation :: footer_menu"></div>

</div>
</body>
</html>
