<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>
</head>

<body>
<div>
    <div th:replace="navigation :: header_menu"></div>

    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

    <div class="container-xxl ">
        <div th:replace="navigation :: search_nav"></div>

        <div class="row">
            <div class="col-md-6 text-center" style="max-width : 250px">
                <div>
                    <img id="bigImage" th:src="@{${product.mainImagePath}}" class="img-fluid rounded shadow" index="0"/>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="font-weight-bold text-dark">[[${product.name}]]</h5>
                <div class="row pb-2 d-flex ">
                    <div class="col-sm">
                        <input type="text" class="product-detail-rating-star" dir="ltr" data-size="3"
                               th:value="${product.averageRating}">
                    </div>
                    <div class="col-sm mt-2">
                        [[${product.reviewCount}]] rating(s)
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="reviews/reviews_votes :: content"></div>
    </div>

    <div th:replace="modal_fragments :: modal_dialog"></div>

    <div th:replace="fragments :: pagination('/ratings/' + ${product.alias})"></div>

    <div th:replace="navigation :: footer_menu"></div>
</div>

<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    decimalSeparator = "[[${DECIMAL_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
    thousandSeparator = "[[${THOUSAND_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";

    $(document).ready(function () {
        formatRatingNumber();
    });

    $(".product-detail-rating-star").rating({
        displayOnly : true,
        hoverOnClear : false,
        showCaption : false,
        theme: 'krajee-svg'
    });

    function formatRatingNumber() {
        ratingText = $("#ratingNumber").text();
        formatRating = $.number(ratingText, 2 ,decimalSeparator, thousandSeparator);
        $("#ratingNumber").text(formatRating);
    };

</script>
<script type="text/javascript" th:src="@{/js/review_vote.js}"></script>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>

</body>
</html>
