<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Manage Users')">
</head>

<body>

<!-- nav bar-->
<div th:replace="navigation :: menu"></div>

<!-- Body -->
<div class="container-fluid">
    <div>
        <div class="pb-3">
            <h1>Manage Users</h1>
            <a class="btn btn-primary btn-info" th:href="@{/users/new}">Create New User</a>
            <a class="btn btn-primary btn-danger" th:href="@{/users/export/csv}">Export to CSV</a>
            <a class="btn btn-primary btn-warning" th:href="@{/users/export/excel}">Export to Excel</a>
        </div>
    </div>

    <div th:if="${message != null}" class="alert alert-success pt-3" th:text="${message}">
    </div>


    <div th:replace="fragments :: search_form('users')"></div>


    <div class="pt-2">
        <table class="table table-responsive-xl table-bordered table-striped table-hover ">
            <thead class=" gradient-bg">
            <tr>
                <!-- Call fragment -->
                <th th:replace="fragments :: column_link('id', 'User Id')"></th>
                <th>Photos</th>
                <th th:replace="fragments :: column_link('email', 'Email')"></th>
                <th th:replace="fragments :: column_link('firstName', 'First Name')"></th>
                <th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>
                <th>Roles</th>
                <th th:replace="fragments :: column_link('enabled', 'Enabled')"></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td>[[${user.id}]]</td>
                <td>
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-dark"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="max-width : 70px">
                </td>
                <td>[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <div th:replace="fragments :: status(${user.enabled} ,'user' ,'/users/' + ${user.id})"></div>
                </td>
                <td>
                    <div class="inline-container">
                        <div th:replace="fragments :: edit('user' ,'/users/edit/' + ${user.id})"></div>
                        &nbsp;
                        &nbsp;
                        <div th:replace="fragments :: elseDelete('user' ,'/users/delete/' + ${user.id}, ${user.id})"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing user # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No user found</span>
    </div>

    <!--pagination-->
    <div th:if="${totalItems > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <!-- Link to the first page -->
                <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''} }">First</a>
                </li>
                <!-- Link to the previous page -->
                <li th:class="${currentPage > 1} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Previous</a>
                </li>
                <!-- Link to the first page if current page is greater than 2 -->
                <li th:if="${currentPage > 2}" class="page-item">
                    <a class="page-link"
                       th:href="@{'/users/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">1</a>
                </li>
                <!-- Dots before the current page -->
                <li th:if="${currentPage > 3}" class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <!-- Links for the current, previous, and next page -->
                <li th:each="i : ${#numbers.sequence(currentPage - 1 > 1 ? currentPage - 1 : 1, currentPage + 1 < totalPages ? currentPage + 1 : totalPages)}"
                    th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${i}]]</a>
                </li>
                <!-- Dots after the current page -->
                <li th:if="${currentPage < totalPages - 2}" class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <!-- Link to the last page if current page is less than total pages minus 1 -->
                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">[[${totalPages}]]</a>
                </li>
                <!-- Link to the next page -->
                <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Next</a>
                </li>
                <!-- Link to the last page -->
                <li th:class="${currentPage < totalPages} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link"
                       th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir='+${sortDir}+ ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<div th:replace="modal_fragments :: confirm_modal"></div>
<div th:replace="fragments :: footer"></div>

<script th:src="@{/js/common_list.js}"></script>
<script>
    moduleUrl = "[[@{/users}]]";
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this) , 'user');
        });
    });

</script>

</body>


</html>
