<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Your Checkout', 'none')"/>
<body>
<div>
    <div th:replace="navigation :: header_menu"></div>
    <div class="container-fluid">
        <div th:replace="navigation :: search_nav"></div>
    </div>

    <!-- Checkout Section -->
    <div class="container mt-2">

        <!-- Page Title -->
        <div class="text-center mb-4">
            <h1 class="display-4"><b>Checkout</b></h1>
        </div>

        <div class="row m-1">

            <!-- Shipping and Payment Method Section -->
            <div class="col-lg-8">

                <!-- Shipping Information -->
                <div class="card mb-3">
                    <div class="card-header bg-success text-white">
                        <h5>Shipping Information</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            <b>Ship to:</b> &nbsp; [[${shippingAddress}]]
                            <a class="text-decoration-none text-danger" th:href="@{/address_book}"
                               title="Set default for the address you want to ship">[ Ship to another address ]</a>
                        </p>
                        <p><b>Days to deliver:</b>&nbsp; [[${checkoutInfo.deliverDays}]] days</p>
                        <p><b>Expected delivery date:</b> &nbsp; [[${checkoutInfo.deliverDate}]]</p>
                    </div>
                </div>

                <!-- Payment Method -->
                <div class="card mb-3">
                    <div class="card-header bg-success text-white">
                        <h5>Payment Method</h5>
                    </div>
                    <div class="card-body">
                        <div th:if="${checkoutInfo.sodSupported}">
                            <p>
                                <input type="radio" id="cod" name="paymentMethod" class="me-2"/>
                                <label  for="cod">Cash on delivery (COD)</label>
                                &nbsp;
                                <button class="btn btn-danger mt-2">Place Order with COD</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order Summary Section -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>Order Summary</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <th:block th:each="item : ${cartItems}">
                                    <tr th:with="product = ${item.product}">
                                        <td>[[${item.quantity}]] X</td>
                                        <td width="70%">
                                            <a th:href="@{'/d/' + ${product.alias}}" target="_blank">
                                                [[${product.shortName}]]
                                            </a>

                                            <small>
                                                <b>Ship: </b>
                                                <div  th:replace="fragments :: format_currency(${item.shippingCost})"></div>
                                            </small>
                                        </td>
                                        <td>
                                            <div th:replace="fragments :: format_currency(${item.subtotal})"></div>
                                        </td>

                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                        <!-- Order Summary Totals -->
                        <div class="row mt-2">
                            <div class="col">Product Total:</div>
                            <div class="col text-end">
                                <div th:replace="fragments :: format_currency(${checkoutInfo.productTotal})"></div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">Shipping Total:</div>
                            <div class="col text-end">
                                <div th:replace="fragments :: format_currency(${checkoutInfo.shippingCostTotal})"></div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">Payment Total:</div>
                            <div class="col text-end">
                                <b>
                                    <div th:replace="fragments :: format_currency(${checkoutInfo.paymentTotal})"></div>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="navigation :: footer_menu"></div>
</div>

</body>
</html>
