<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head('Home - Eshop ', 'none')" />
<body>
<div>
	<div th:replace="navigation :: header_menu"></div>

	<div class="container-fluid">
		<div>
			<h1>Shopping by Categories</h1>
		</div>
		<div class="row">
			<div class="col" th:each="category : ${listCategories}">
				<div>
					<img th:src="@{${category.imagePath}}" style="max-width : 80px" />

				</div>
				<div>
					<a th:href="@{'/c/' + ${cat.alias}}">[[${category.name}]]</a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>