<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>

<div th:fragment="header_menu" class="mb-3">
    <nav class="navbar navbar-expand-lg gradient-bg navbar-dark">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{${SITE_LOGO}}" style="width: 100px; height: auto;" alt="Shop Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="topNavbar" class="collapse navbar-collapse" style="margin-left:10px">
            <ul class="navbar-nav me-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="">Careers</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="">Payments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="">Shipping &amp; Delivery</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="search_nav" class="row mb-3">
    <div class="col-md">
        <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" value="Logout">
            </form>
        </th:block>

        <nav class="navbar navbar-expand-sm bg-light">
            <div class="collapse navbar-collapse" id="searchNavbar">
                <form class="form-inline d-flex" th:action="@{/search}" method="get">
                    <input type="search" name="keyWord" class="form-control me-2" placeholder="keyword" th:value="${keyWord}" required >
                    <input type="submit" class="ml-3 btn btn-outline-success " >
                </form>

                <ul class="navbar-nav">
                    <th:block sec:authorize="isAuthenticated()">
                       <li class="nav-item">
                           <b><a class="nav-link" th:href="@{/account_details}" sec:authentication="principal.fullName"></a></b>
                       </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" >Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" >Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" >Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" >Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" >Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="document.logoutForm.submit()">Logout</a>
                        </li>

                    </th:block>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="mt-3" th:fragment="footer_menu">
    <div>
        <nav class="navbar navbar-expand-lg gradient-bg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="bottomNavbar" class="collapse navbar-collapse" style="margin-left:10px">
                <ul class="navbar-nav me-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="">Privacy Notice</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="">Returns &amp; Refunds</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div  class="text-center m-3">
        <p>[[${COPYRIGHT}]]</p>
    </div>
</div>
</body>
</html>
