<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="page_head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/font/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

    <!--fragment table column filter-->
    <th th:fragment="column_link(fieldName , columnLabel)">
        <a  class="text-dark"
           th:href = "@{'/users/page/' + ${currentPage} +'?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}} ">[[${columnLabel}]]</a>
        <span th:if="${sortField == fieldName}"
              th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" >
        </span>
    </th>

    <div th:fragment="footer" class="footer">
        <p>EShop Control Panel - Copyright &copy; EShop</p>
    </div>

    <div th:fragment="category_status">
            <a  class="fas fa-circle fa-2x icon-dark" href=""
                title="Enable category"></a>
    </div>

    <div th:fragment="category_actions">
            <a class="fas fa-edit fa-2x icon-orange" href="" title="Edit the category">
            </a>
            &nbsp;
            &nbsp;
            <a class="fas fa-trash fa-2x icon-silver link-delete"
               href="" title="Delete the category"
            >
            </a>
    </div>
</body>
</html>