<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width:device-width,initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<title>Shop Admin </title>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</head>
<body>
	|<div class="container-fluid">
		<h1>Welcome to my page</h1>
	</div>
	
	<div>
		<p>EShop Control Panel - Copyright &copy; EShop</p>
	</div>
</body>
</html>